# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Data files
/data/*.csv
/data/*.db

# Jupyter Notebook checkpoints
.notebooks_checkpoints

# Environment
.env
.venv

# Selenium driver logs
selenium.log

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
